body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
/* ............
header-area css
................ */
.banner-area img{
    width:100%;
}
.banner-area{
    width:456px;
}
.header-area{
    background-color: #2D25A0;
}
.text-area h2{
    margin:0;
    font-size: 64px;
    color:white;
}
.width-area{
    width:70%;
    display: flex;
    align-items: center;
    padding:30px;
    margin:0 auto;
    justify-content: space-between;
}
.text-area button{
    background-color: #E02C6D;
    padding:15px;
    color:white;
    border-radius: 3px;
    border:1px solid grey;
}
button:hover{
    background-color: aqua;
}
/* ....................
player-area
........................... */
.players{
    width:330px;
}
.img-area{
    width:320px;
}
.img-area img{
    width:100%;
    border-radius: 8px;
}
.details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:70%;
    margin:0 auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.players-detail-area{
    margin-top:60px;
}
.players h2{
    margin:0;
    margin-top:15px;
}
.players p{
    text-align: justify;
    color:#6C6C6C;
    margin:0;
    overflow: hidden;
}
.players{
    box-shadow: 10px 10px 30px grey;
    padding:15px;
    border-radius: 10px;
}
/*.................
 bonus-area
 ............ */
.dream{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    height:700px;
    background-size: cover;
    margin-top:50px;
    position:relative;
}
.dream h2{
    color:white;
    width:700px;
    text-align: center;
    margin:0 auto;
    position:absolute;
    top:150px;
    left:150px;
    font-size: 50px;
}
.dream p{
    color:yellow;
    margin:0 auto;
    position:absolute;
    top:250px;
    left:200px;
    font-size: 40px;
}
span{
    color:orange;
}
/* ...................
2nd part bonus area
..................... */
.love{
    width:90%;
    margin:0 auto;
    box-shadow: 10px 10px 40px grey;
    padding:20px;
    margin-top:50px;
}
.love h1{
    text-align: center;
    background-color: orange;
    width:100px;
    margin:0 auto;
    padding:10px;
    border-radius: 10px;
}
/* .................
icon area 
.............. */
.icon-area a{
    font-size: 25px;
    margin-left: 20px;
}
.icon-area{
   text-align: center;
}
/* ..............
logo-area 
......................*/
.logo-area{
    width:350px;
    margin:0 auto;
    margin-top:80px;
}
.logo-area img{
    width:100%;
}
/*...................
 footer-area 
 ...................*/
 .footer-area{
     text-align: center;
     color:red;
 }